@import url("https://fonts.googleapis.com/css2?family=Signika:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* Basic Style */
:root {
  --primary-color: #fff;
  --btn-primary: #9b9bca;
  --btn-secondary: #f01f35;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Signika", sans-serif;
  overflow-x: hidden;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: #9b9bca;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

/* Header */
.main-header {
  min-height: 100vh;
  z-index: 100;
  background: url("../img/showcase.jpg") no-repeat 70% 100% / cover;
  position: relative;
}
#logo {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  margin-bottom: 2rem;
  background-color: #c8c8c8;
  border-radius: 50%;
  padding: 0.5rem;
}

.main-nav li {
  margin-bottom: 2rem;
}

.main-nav a {
  transition: 0.4s background-color, color ease;
  padding: 0.6rem 1.7rem;
  border-radius: 0.5rem;
  color: #717784;
  cursor: pointer;
}

.main-nav a:hover,
.main-nav a:focus {
  color: var(--primary-color);
  background-color: var(--btn-primary);
}

/* Showcase */
.showcase {
  min-height: 90vh;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 1000;
  width: 100vw;
}

.showcase h1 {
  font-size: 2rem;
  color: #696a86;
}

.showcase p {
  color: #696a86;
}

.showcase-text {
  min-height: 90vh;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.showcase-text a {
  width: 8rem;
}

/* Service */
.service {
  min-height: 100vh;
  line-height: 1.2;
}

.service-text {
  color: var(--btn-primary);
  max-width: 600px;
  margin: 0 auto;
}

.service-text h3 {
  margin-bottom: 1rem;
  font-weight: bold;
}
.services {
  flex-wrap: wrap;
}

.services div {
  max-width: 200px;
  margin: 2rem auto;
  transition: 0.3s transform ease;
  padding: 1rem;
}

.services div:hover,
.services div:focus {
  transform: translateY(-1rem);
  background: rgb(245, 245, 245);
  color: var(--primary-color);
  cursor: pointer;
}
.services img {
  width: 2rem;
  margin: 0 auto;
}

.services h4 {
  margin: 1rem 0;
}

.services h4,
.services p {
  color: var(--btn-primary);
}

.people-text {
  color: var(--btn-primary);
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

.people-text h3 {
  margin-bottom: 1rem;
}

.people-img img {
  padding: 1rem;
}
.people-img img {
  flex-wrap: wrap;
  transition: 0.4s transform ease;
  width: 30%;
}

.people-img img:hover,
.people-img:focus {
  transform: translateY(-0.5rem);
}

.people-img .flex {
  flex-direction: row;
}

.video {
  position: relative;
}

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #334b76;
  border-radius: 50%;
  padding: 1.5rem;
  z-index: 1;
  cursor: pointer;
}

.player {
  width: 1rem;
}

/* Questions */

.questions h2 {
  font-size: 2rem;
}

.questions img {
  height: 500px;
  object-fit: contain;
  background: url("../img/Ellipse12.jpg") no-repeat center center/cover;
}

#questions {
  padding: 1rem 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.5rem;
  margin-bottom: 3rem;
  display: block;
  font-family: "Montserrat";
  border: none;
  max-width: 350px;
}

#questions img {
  width: 2rem;
}

/* Cards */
.cards {
  gap: 4rem;
}

.cards h3 {
  margin: 2rem 0;
}

.cards a {
  position: relative;
  top: 4.5rem;
}

.cards img {
  width: 300px;
  height: 150px;
  object-fit: cover;
  object-position: top;
  margin: 0 auto;
  border-radius: 0.5rem;
}

.cards .card {
  max-width: 350px;
}
.feature-world img {
  width: 30%;
}

.feature-world span {
  font-weight: 100;
  color: var(--btn-primary);
}
.feature-world-text {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.feature-world-text p {
  margin-bottom: 2rem;
}
.feature-world .card {
  max-width: 300px;
  margin: 0 auto;
  text-align: left;
}

/* form */

.contact h2 {
  margin-bottom: 3rem;
}
.contact .card {
  max-width: 300px;
  margin: 0 auto;
  text-align: left;
}
label {
  display: block;
  margin-bottom: 1rem;
}

input {
  border: none;
  border: 2px solid var(--btn-primary);
  border-radius: 0.5rem;
  padding: 0.5rem 2.5rem;
  margin-bottom: 1rem;
}

/* footer */
.main-footer {
  margin-top: 10rem;
  background: var(--btn-primary);
}

.main-footer a {
  color: #fff;
  transition: 0.4s color ease;
}

.main-footer a:hover,
.main-footer a:focus {
  color: var(--btn-secondary);
}
.main-footer .flex {
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.main-footer h3 {
  margin-bottom: 1rem;
  color: #fff;
  font-weight: 700;
}

.contact h5 {
  margin: 1rem 0;
}

.contact .sign {
  color: var(--btn-secondary);
}

.main-footer img {
  width: 2rem;
  transition: 0.4s transform ease;
}

.main-footer img:hover,
.main-footer img:focus {
  transform: scale(1.1);
}

.social-nav li {
  margin-bottom: 0.2rem;
}

.main-footer .social-logos {
  justify-content: center;
  color: #fff;
  align-items: center;
}

.social-logos img {
  margin: 0.5rem 0;
}
/* Media queries */
@media (min-width: 768px) {
  .flex {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .main-header .flex {
    justify-content: space-around;
  }

  .nav-link li {
    margin-left: 1rem;
  }

  .showcase h1 {
    font-size: 3rem;
  }

  .people-img img {
    width: 7rem;
  }

  .people img {
    margin-right: 3rem;
  }

  .people-img .flex:nth-child(1) img:first-child {
    position: relative;
    top: -2rem;
  }

  .people-img .flex:nth-child(2) img:first-child {
    position: relative;
    top: -2rem;
    left: -4rem;
  }

  .people-img .flex:nth-child(3) img:first-child {
    position: relative;
    top: -3rem;
    left: -2rem;
  }

  .people-img .flex:nth-child(3) img:last-child {
    position: relative;
    top: 2rem;
  }

  .contact h2 {
    position: relative;
    left: -10rem;
    font-size: 2rem;
  }

  .social-logos img {
    margin-left: 2rem;
  }
}
