@import url("https://fonts.googleapis.com/css2?family=Signika:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* Basic Style */
:root {
  --primary-color: #fff;
  --btn-primary: #9b9bca;
  --btn-secondary: #f01f35;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Signika", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #9b9bca;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

/* Header */
.main-header {
  min-height: 10vh;
  z-index: 100;
}
#logo {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  margin-bottom: 2rem;
  background-color: var(--btn-primary);
  border-radius: 50%;
  padding: 0.5rem;
}

.main-nav li {
  margin-bottom: 2rem;
}

.main-nav a {
  transition: 0.4s background-color, color ease;
  padding: 0.7rem 1.5rem;
  border-radius: 0.5rem;
  color: var(--btn-primary);
}

.main-nav a:hover,
.main-nav a:focus {
  color: var(--primary-color);
  background-color: var(--btn-primary);
}

/* showcase-text */
.showcase {
  background: url("../img/showcase.jpg") no-repeat center center/cover;
  min-height: 90vh;
  position: absolute;
  top: 0%;
  left: 0;
  z-index: -1000;
  width: 100vw;
  background-attachment: fixed;
}

.showcase h1 {
  font-size: 2rem;
}

.showcase-text {
  margin-top: 2rem;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.showcase-text a {
  width: 8rem;
}

/* Media queries */
@media (min-width: 768px) {
  .flex {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .main-header .flex {
    justify-content: space-between;
  }

  .nav-link li {
    margin-left: 1rem;
  }

  .showcase h1 {
    font-size: 3rem;
  }
}
