.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.container {
  width: 90%;
  max-width: 1100px;
  padding: 2rem 1.5rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.section-header {
  color: #402b2b;
  font-size: 2rem;
  line-height: 140%;
  text-align: left;
  margin-left: 3rem;
  font-family: PT Serif;
  max-width: 550px;
}

/* buttons */
.btn {
  border-radius: 10px;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.6rem 2.5rem;
  transition: 0.4s transform ease;
  white-space: nowrap;
}
.btn-bold {
  font-weight: bold;
  font-family: "Rubik", sans-serif;
  text-transform: uppercase;
}

.btn-long {
  padding: 2rem 13rem;
}
.btn:hover,
.btn:focus {
  transform: scale(0.95);
}

.btn-primary {
  color: #fff;
  background: var(--btn-primary);
}

.btn-secondary {
  background: var(--btn-secondary);
  color: #fff;
}
.bg-primary {
  background-color: var(--btn-primary);
  color: #fff;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.5rem;
  padding: 2.5rem 1.5rem;
}
/* Margin */
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

/* Padding */
.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 3rem;
}

.p-5 {
  padding: 4rem;
}
